/* colors */

$blue: #008ed6;
$dark: #1a1a1a;
$white: #fff;
$grey: #999999;
$background: #15141a;
$lightgrey: #ededed;
$hr-color:#e0e0e0;
$blue-magenta: #444348;

/* gutter */

$gutterS: 10px;
$gutterM: 20px;
$gutterL: 30px;